body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  background-color: rgb(251, 159, 180);
}

.page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 151, 152);
  width: 100vw;
  border-radius: 0 0 10px 0;
  height: 8vh;
}

.header-content {
  margin: 0 24px;
  text-align: center;
}

.reset-button {
  border: solid black 3px;
  box-sizing: border-box;
  padding: 6px;
  border-radius: 5px;
}

.page-body {
  display: flex;
  width: 100vw;
  align-items: center;
  height: calc(100vh - 24px - 24px);
}

.sidebar {
  width: 32vh;
  background-color: rgb(185, 142, 204);
  height: 100%;
}

.project {
  text-align: center;
  padding: 12px 6px;
  margin: 12px;
  border: solid 3px rgb(89, 104, 193);
  border-radius: 5px;
  box-sizing: border-box;
}

.to-do-window {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.task {
  background-color: rgb(212, 148, 193);
  width: 60vw;
  text-align: center;
  padding: 12px;
  margin: 12px;
  border-radius: 10px;
  border: solid 3px rgb(185, 142, 204);
  display: flex;
  justify-content: space-around;
}

.add-task-button {
  background-color: rgb(185, 142, 204);
  width: 60vw;
  text-align: center;
  padding: 12px;
  margin: 12px;
  border-radius: 10px;
  border: solid 3px rgb(89, 104, 193);
}

.add-task-prompt {
  background-color: rgb(255, 151, 152);
  width: 60vw;
  text-align: center;
  padding: 12px;
  margin: 12px;
  border-radius: 10px;
  border: solid 3px rgb(212, 148, 193);
}

.task-confirmation {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.task-confirmation-button {
  width: 128px;
  padding: 12px;
  border-radius: 5px;
  background-color: hotpink;
}

.submit {
  background-color: rgb(168, 252, 85);
  border: solid 2px rgb(128, 255, 0);
  box-sizing: border-box;
}

.discard {
  background-color: rgb(244, 102, 102);
  border: solid 2px rgb(255, 52, 52);
  box-sizing: border-box;
}

.project-choice-options {
  display: flex;
  justify-content: space-around;
  padding: 6px 0 0 0;
}

.new-project-choice {
  width: 24px;
  border-radius: 5px;
}

.page-footer {
  width: 100vw;
  background-color: rgb(89, 104, 193);
  text-align: center;
  padding: 24px 0;
  border-radius: 0 10px 0 0;
}
